body{background-color: #f6f6f6}
input.text {width: 300px;
	height: 20px;
	margin-bottom: 10px;
	border: none;
	border-bottom: 1px solid #333333;
}
input.text:focus {outline:none}
input {margin-top: 20px}

form {
	width: 350px;
	margin-left: 40px;
	border: 1px solid none;
}
select {
	border: none;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 10px;
}
label {font-family: Arial;
	font-size: 12px;}
span {font-family: Arial;
	color: red;
	font-size: 12px;}
.wrap{
	height: 637px;
	width: 400px;
	margin: auto;
	box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.32);
	z-index: 1;
	position: absolute;
	top: 10px;
	left: 450px;
	background-color: white;
}
#logo{
	margin: auto;
	width: 170px;
	margin-top: 10px;
}
.toantrang{position: relative;
			width: 1000px;
			margin: auto;
			}
.banner {
	position: absolute;
	z-index: 2;
	top: 10px;
	left: 150px;
	box-shadow: 3px 5px 10px 2px rgba(0, 0, 0, 0.32);
	height: 637px;
}


input#submit{
	background-color: #4f9cd0;
	border: none;
	color: white;
	padding: 7px 25px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	margin: 35px 100px 50px;
	cursor: pointer;
	transition-duration: 0.4s;
	border-radius: 20px;
	margin-bottom: 5px;
}	
input.radio{
	cursor: pointer;
}