h1{	color: red;
	line-height: 1.5em;
	font-family: cursive;
	text-align: center;
	animation-name:  title;
	animation-timing-function: ease;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	}
img {max-width: 100%;
}
.toanbo{width: 1000px;
		border: 1px solid white;
		padding: 5px;
		margin: auto;
		padding-bottom: 30px;
		overflow: hidden;
		position: relative;
		}

		.tentrang{border: 1px solid white;
					max-width: 1000px;
					margin:auto;
					background-color: yellow;
					animation: titlee 5s ease infinite;
					box-sizing: border-box;
					margin: 5px;
					opacity: 0;
					}
		.hang1{border: 1px solid white;
				margin: 5px;
				overflow: auto;
				box-sizing: border-box;
				}
		.hang2{border: 1px solid white;
				margin: 5px;
				overflow: auto;		
				box-sizing: border-box;
				}
				.anh1{border: 1px solid red;
					margin: 5px;
					float: left;
					padding: 5px 5px 0px 5px;
					box-sizing: border-box;
					max-width: 32.2%;
					}
				.anh2{border: 1px solid red;
					margin: 5px;
					float: left;
					padding: 5px 5px 0px 5px;
					box-sizing: border-box;
					max-width: 32.3%
					}
				.anh3{border: 1px solid red;
					margin: 5px;
					float: left;
					padding: 5px 5px 0px 5px;
					box-sizing: border-box;
					max-width: 32.3%;
					}
.hang2 >.anh1 , .hang2 >.anh2 , .hang2 >.anh3{ overflow: hidden;}


.hang1 >.anh1 ,.hang1 > .anh2, .hang1 >.anh3{opacity:1;
								transition: 1s; 
								}
.hang1 >.anh1:hover{opacity: 0.2}
.hang1 >.anh3:hover{opacity: 0.2}
.hang1 > .anh2:hover{transform: translate(0px,-23px);}
.anh{transition: transform 1s;}
.anh:hover{transform: scale(1.5);}
.anh{overflow: hidden;}
.anh1 , .anh2 ,.anh3{box-shadow: 3px 2px 2px 2px #123812;}
.hang2 > .anh2 {transition: 1s}
.hang2 > .anh2:hover{transform: rotateX(180deg);} 
@keyframes title 	{
					33%{color: green}
					66%{color: blue;}
					100%{color: red}

					}
@keyframes titlee 	{
					0%{opacity: 0}
					50%{opacity: 1}
					100%{opacity: 0}
					}

.khung{color: red;
		border: 1px solid white; 
		font-family: sans-serif;
		position: absolute;
		overflow: hidden;
		bottom: 0px;
		right: 0px;
		margin: 5px;
		animation: khung 10s cubic-bezier(0, 0.71, 0.50, -0.15) infinite;
		width: 200px;
		}
@keyframes khung {	0%{bottom: 0px;
						right: -300px;}
					100%{bottom: 0px;
						right: 500px;
						}
					}
.tacgia{opacity: 1;
		animation: tacgia 10s cubic-bezier(0, 0.71, 0.50, -0.15) infinite; 
		}
@keyframes tacgia {	0%{opacity: 0;}
					20%{opacity: 1;}
					50%{opacity: 1;}
					65%{opacity: 0;}
					100%{opacity: 0;}
					}